boto3==1.36.26
botocore==1.36.26
Flask @ file:///croot/flask_1737454299809/work
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-core==2.4.2
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
huggingface-hub==0.29.1
numpy==2.0.2
packaging==24.2
pillow==11.1.0
requests @ file:///croot/requests_1730999120400/work
s3transfer==0.11.2
safetensors==0.5.3
six==1.17.0
sympy==1.13.1
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
triton==3.2.0
typing_extensions==4.12.2
urllib3==1.26.20
zipnn==0.5.2
zipp @ file:///croot/zipp_1732630741423/work
